.Rproj.user
.Rhistory
.RData
.Ruserdata
MateriaisAulas/slides_Bioestatistica.pdf
dados/dados_alunos.xlsx
MateriaisAulas/Atv Boxplot/Atividade 3 - Boxplot .pdf
MateriaisAulas/Atv Boxplot/Atividade Boxplot - Bioestatística.pdf
MateriaisAulas/Atv Boxplot/bioe 1_merged.pdf
MateriaisAulas/Atv Boxplot/Bioestatística (2).pdf
MateriaisAulas/aula2_tendencia_Central_variabilidade.pdf
MateriaisAulas/Monitoria/MONITORIA.docx
MateriaisAulas/regressão_correlação/regressao_e_correlacao.R
MateriaisAulas/regressão_correlação/regressao_e_correlacao.pdf
MateriaisAulas/Monitoria/1.Roteiro.R
MateriaisAulas/Atv Boxplot/Boxplot 1 Final_.pdf
